<div class="container padding-top-page-content">
  <h1>Facebook Events</h1>
  <% if @events.count > 0 %>
    <%= render 'facebook_events/fb_event_card', events: @events, adms: @adms %>
  <% else %>
    <div class="col-sm-12 col-md-6">
      <h2>No available events.</h2>
    </div>
  <% end %>
</div>
