<div class="footer bg-dark d-flex flex-column justify-content-between">
  <div class="footer-content d-flex flex-row justify-content-between">
    <div class="d-flex flex-column align-items-center"  id="footer-social-links">
      <p>follow us on</p>
      <div>
        <a href="https://github.com/jucaesmanhoto/yoohood-app" target="_blank"><i class="fab fa-github p-1"></i></a>
        <a href="https://www.instagram.com/yoohood.fun/" target="_blank"><i class="fab fa-instagram p-1"></i></a>
        <a href="https://www.facebook.com/yoohood/" target="_blank"><i class="fab fa-facebook p-1"></i></a>
        <a href="https://twitter.com/yoohoodco" target="_blank"><i class="fab fa-twitter p-1"></i></a>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center" id="footer-pages">
      <div class="footer-pages-column p-4" >
        <ul>
          <a href=""><li>Cookies</li></a>
          <a href=""><li>Help Center</li></a>
          <a href=""><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="footer-pages-column p-4">
        <ul>
          <a href=""><li>About us</li></a>
          <a href=""><li>Legal</li></a>
          <a href=""><li>Privacy Policy</li></a>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright row justify-content-center my-2">
    Copyright ©2019 Yoohood.
  </div>
</div>
