<div class="container padding-top-page-content">
  <h1><%= t('.facebook_events') %></h1>
  <% if @events.count > 0 %>
    <%= render 'facebook_events/fb_event_card', events: @events %>
  <% else %>
    <div class="col-sm-12 col-md-6">
      <h2><%= t('.no_available_events') %></h2>
    </div>
  <% end %>
</div>
