<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 index-events-frame">
      <%= render 'shared/event_card_index', events: @events %>
    </div>
    <div class="col-12 col-md-4">
      <!-- MAPBOX MAP: -->
      <!-- <div class="map" id="map1" data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" style="flex: 0 0 370px; height: 80vh; width: 100%; position: sticky !important; margin-left: 20px; margin-top: 45px; margin-bottom: 45px"></div> -->

      <!-- GOOGLE MAPS MAP: -->
      <div class="map" id="map1" data-markers="<%= @markers.to_json %>" data></div>
    </div>
  </div>
</div>
