<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 index-events-frame">
      <%= render 'shared/event_card_index', events: @events %>
    </div>
    <div class="col-12 col-md-4 map-frame">
      <div class="map" id="map" data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" style="flex: 0 0 370px; height: 100%; width: 100%; position: sticky !important;"></div>
    </div>
  </div>
</div>
