<div class="container">
    <div class="row">
        <div id="gmap" class="col-12 col-md-6 d-flex justify-content-center align-items-center" style="height: 80vh; background-color: #0052f7; margin: 16px 0">
            Loading the map...
        </div>
        <div class="col-12 col-md-6">
            <%= render 'shared/event_card_index', events: @nearby_events %>
        </div>
    </div>
</div>