<div class="container about-us ">
  <div class="row justify-content-center">
    <div class="align-items-center d-flex flex-column">
      <h1>we're</h1>
      <%= image_tag 'logo_yoohood_alta.png', class: 'yo-logo' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="team-member flex-column text-center col-12 col-md-4">
      <%= image_tag 'team/alex.jpg', class: 'avatar' %>
      <h4>Alexia Khodari</h4>
      <p>Full-Stack Developer</p>
    </div>
    <div class="team-member flex-column text-center col-12 col-md-4">
      <%= image_tag 'team/juca.jpg', class: 'avatar' %>
      <h4>Juca Esmanhoto</h4>
      <p>Full-Stack Developer</p>
    </div>
    <div class="team-member flex-column text-center col-12 col-md-4">
      <%= image_tag 'team/vini.jpg', class: 'avatar' %>
      <h4>Vinicius Alvim</h4>
      <p>Full-Stack Developer</p>
    </div>
  </div>
</div>
