<div class="container" id="home-page">
  <div class="banner d-flex align-items-center">
    <video autoplay muted loop style="z-index: -2;">
      <source src="video.mp4" type="video/mp4">
    </video>
    <div class="container">
      <div class="banner-content">
        <h1 class="text-center pb-1 mb-2 text-white header_one">Find the <strong class="text-primary">perfect</strong> event for <strong class="text-primary">you</strong></h1>


         <div class="form-row align-items-center justify-content-center">
           <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupCity">City</label>
            <input type="text" class="form-control" type="text" name="search[location]" placeholder="city or zipcode">
           </div>

           <div class="col-sm-3 my-1 p-1">
             <label class="sr-only" for="inlineFormInputDate">date</label>
             <input type="date" class="form-control" name="search[date]" id="search_date">
           </div>

           <div class="col-sm-3 my-1 p-1">
             <label class="sr-only" for="inlineFormInputGroupEvent">Event</label>
             <input type="text" class="form-control" type="text" name="search[title]" placeholder="event, artist or venue">
           </div>

           <div class="col-sm-9 my-1 p-1">
             <button type="submit" class="btn btn-primary btn-block">Search</button>
           </div>
         </div>

      </div>
    </div>
  </div>
</div>
