<div class="container my-5 py-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-5">
      <%= render 'shared/sign_in' %>
    </div>
    <div class="col-12 col-md-1 my-3"></div>
    <div class="col-12 col-md-5">
      <%= render 'shared/sign_up' %>
    </div>
  </div>
</div>
