.benefit-card {
  color: #000;
  font-weight: bold;
  padding: 16px;
  align-items: center;
  text-align: center;
  background-color: #EEE;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #1EDD88;
    color: black;
  }
}

.benefit-quantity {
  padding: 4px;
}

.benefit-name {
  padding: 4px;
  font-size: 20px;
}

.benefit-value {
  padding: 4px;
}

.benefit-modal-header {
  padding-bottom: 36px;
}

.user-points {
  position: absolute;
  left: 32px;
  top: 8px;
  p {
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 2px;
  }
  h4 {
    background-color: $primary;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
  }
}
