/////////////////////////////////
////////////////CARD IN SHOW PAGE
/////////////////////////////////

#cover-and-map {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
}

#gmap-show {
  height: 25vh;
  width: 100%;
}

#show-map {
    position: absolute;
    color: black;
    right: 2vw;
    top: 34vh;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

#hide-map {
  position: absolute;
  display: none;
  color: black;
  right: 2vw;
  top: 43vh;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  z-index: 200;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #cover-and-map {
    flex-direction: row;
    img {
      width: 70%;
      height: 40vh;
    }
  }

  #gmap-show {
    height: 40vh;
  }
}


////////////////////////////////////////
/////////////////review all that follows
////////////////////////////////////////

.card-trip {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  img {
    height: 56%;
    width: 100%;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.increase-card:hover {
  transform: scale(1.05,1.05)
}

.card-trip .card-trip-infos {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  color: black;
}

.card-trip-infos .card-trip-user {

  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.start-time-red-month {
  opacity: .7;
  color: red !important;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
}

.start-time-day {
  margin: 0;
  padding: 0;
  text-align: end;
  font-size: 20px;
  text-align: center
}

.city-tag { 
  position: absolute;
  top: 16px;
  background-color: rgba(255,255,255,0.85);
  border-radius: 0 4px 4px 0;
  text-align: center;  
  color: red;
  font-size: 12px;
  padding: 4px 8px;
  i{
    opacity: 0.75;
    font-size: 14px;
  }
}

.card-info-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.ticket-option {
  background-color: white;
}

.card-date {
  display: flex;
  align-items: end;
}

.price-tag {
  font-size: 16px !important;
  font-weight: bold;
}

.categories {
  font-size: 20px;
  text-align: center;
  li {
    display: inline-flex;
    padding: 4px;
    margin: 4px;
  }
}

.card-size {
  height: 320px;
}

.start-time-red-month-show {
  opacity: .7;
  color: red !important;
  margin: 0;
  padding: 0;
  // margin-right: 10px;
  font-size: medium;
  text-align: center
}

.start-time-day-show {
  margin: 0;
  padding: 0;
  text-align: end;
  font-size: xx-large;
  text-align: center
}


.address-bottom {
  margin-bottom: 0;
}

.address-side {
  padding-left: 22.5px;
}

.show-div {
  height: 300px;
  width: 100%;
}

#checkin-button {
  a {
  color: black !important;
  text-decoration: none !important;
  font-size: 12px !important;
}
}

// INDEX PAGE

.card-trip-index {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  img {
    height: 120px;
    width: 100%;
    object-fit: cover;
  }
  h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-trip-index .card-trip-infos-index {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  color: black;
  .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
}

.card-size-index {
  height: 220px;
}

.card-event-show {
  justify-content: center;
}

// .mapboxgl-canvas {
//   position: inherit !important;
// }

.invite-box {
  border-radius: 20px;
}

.trade-card {
  color: black;
  p {
    margin: 0;
  }
  .benefit-owner-info {
    border: 2px solid black;
    padding: 8px;
  }
}

.fb-token-card {
  color: black;
}

.benefit-form-card {
  color: black;
}


// .button-green {
//   background-color: #63c42b;
//   border-color: #63c42b;
//   padding: 5px;
//   border-radius: 2px;
//   font-size: 15px;
// }

// .button-green:hover {
//     background-color: #68ce2d;
//     border-color: #68ce2d;
//   }
.event-card-header {
  margin: 0;
  margin-bottom: 8px;
  white-space: normal;
}

.event-card-event-description {
  // width: 90%;
  // height: 20%;
  // overflow: scroll;
  white-space: normal;
  // flex-wrap: wrap;
  // position: absolute;
  // bottom: 8px;
  // left: 20px;
  color: black;
  p {
    font-size: 12px;
  }
}

.start-time-red-month-index {
  opacity: .7;
  color: red !important;
  margin: 0;
  padding: 0;
  font-size: xx-small;
  text-align: center;
}

.start-time-day-index {
  margin: 0;
  padding: 0;
  text-align: end;
  font-size: 20px;
  text-align: center;
}

.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}


@media (max-width: 420px) {
  // .upper-map {
  //   display: none;
  //   visibility: hidden;
  // }

  // .show-div {
  //   height: 80%;
  //   img {
  //     width: 100%;
  //     height: 70%;
  //   }
  // }

  .title-size {
    font-size: 20px;
  }

  .qr-checkin {
    flex-direction: column;
    align-items: center;
  }
}


@media (min-width: 420px) {
  .upper-map {
    // display: none;
    // visibility: hidden;
    canvas.mapboxgl-canvas {
      width: 100%;
    }
  }
}
