.footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding: 8px 72px;
};

ul {
  list-style: none;
};

#footer-social-links {
  padding-top: 16px;
  a {
    font-size: 40px;
    padding: 0 16px;
  };
  p {
    margin: 0;
  }
  i {
    padding: 0px !important;
  }
}

#footer-pages {
  font-size: 14px;
  ul {
    padding: 0;
    margin: 0;
  }
}
