.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  img {
    height: 35px;
    width: auto;
    margin: 8px 0;
  }
}

.nav-item {
  text-align: right;
  padding-right: 20px;
  a {
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid #0052F7;
    }
  }
}

#navbarDropdown {
  margin-bottom: 10px;
  // box-shadow: -1px 1px 2px rgba(250, 250, 250, 0.4);
  border: solid 2px rgba(200, 200, 200, .5);
  height: 40px;
  width: 40px;
  object-fit: cover;
  &:hover {
    border: solid 2px rgba(200, 200, 200, 1);
    cursor: pointer;
  }
}

.dropdown-item {
  &:hover {
    border-bottom: 3px solid transparent !important;
  }
}
