.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100vw;
}

a {
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid #0052F7;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  border-bottom: none;
  img {
    height: 35px;
    width: auto;
    margin: 8px 0;
  }
}

#navbarDropdown {
  // box-shadow: -1px 1px 4px rgba(200, 200, 200, 0.5)
  border: solid 2px rgba(200, 200, 200, .5);
  &:hover {
    border: solid 2px rgba(200, 200, 200, 1);
    cursor: pointer;
  }
}

.dropdown-item {
  &:hover {
    border-bottom: 0px solid transparent;
  }
}

