.trade-card {
  color: black;
  p {
    margin: 0;
  }
}

.invites-card {
  color: black;
  p {
    margin: 0;
  }
}

.profile-user-points {
  p {
    margin: 0;
  }
  h4 {
    background-color: $primary;
    border-radius: 5px;
    padding: 4px 0;
  }
}

.invites {
  padding: 4px;
  height: 50vh;
  overflow: scroll;
  // border: 3px solid white;
  p {
    font-size: 12px;
    margin: 0;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  span {
    width: 70px;
    padding: 5px;
    margin-top: 5px;
  }
}

// .trades {
//   padding: 4px;
//   height: 50vh;
//   overflow: scroll;
//   // border: 3px solid white;
//   p {
//     font-size: 12px;
//   }
//   h4 {
//     font-size: 18px;
//   }
// }

// .check-ins {
//   padding: 4px;
//   height: 50vh;
//   overflow: scroll;
//   p {
//     font-size: 12px;
//   }
//   h4 {
//     font-size: 18px;
//   }
// }
