#photo-preview {
  border: 3px solid white;
  height: 250px;
  width: 400px;
}

.hidden {
  visibility: hidden;
}

.frame {
  padding: 25px;
  border: 3px solid white;
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset-url('logo_yoohood_alta.png');
  background-position: bottom right;
  background-size: 50%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.upload-photo {
  align-self: end;
  margin-top: 8px;
  border: 1px solid #d3d3d3;
  color: #000;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

