#photo-preview {
  img {
    width: 350px;
    height: 150px;
    object-fit: cover;
  }
}

.frame {
  border: 3px solid white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.5);
  overflow: hidden;
  object-fit: cover;
  img {
    // width: 150px;
    height: auto;
    opacity: 0.5;
  }
}

.upload-photo {
  border: 1px solid #d3d3d3;
  color: #000;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

